@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

@font-face{
	font-family: "Standard Blackletter";
	font-weight: 700;
	src: url("../fonts/standard-blackletter.otf") format("opentype");
}

footer{
	margin-top: 1em;
	text-align: right;
}

.bulletin,
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:signature"]{
	text-align: right;
}

.symbol{
	font-variant: all-small-caps;
}

#chapter-23 blockquote{
	font-family: "Standard Blackletter";
	word-break: break-all;
}

#chapter-23 blockquote:nth-of-type(2) p{
	font-size: 1.2em;
}

#chapter-23 blockquote:nth-of-type(3) p{
	font-size: 1.5em;
}

#chapter-26 blockquote:first-of-type,
#chapter-26 blockquote:nth-of-type(2) p:first-child{
	text-align: center;
}

#chapter-26 blockquote:first-of-type p{
	text-indent: 0;
}

#chapter-26 blockquote:first-of-type p + p{
	border-top: solid;
	border-width: 1px;
	margin-top: .5em;
	padding-top: .5em;
}

.headline{
	font-size: 1.5em;
	text-transform: uppercase;
}

.subheadline{
	font-size: 1.2em;
	font-variant: small-caps;
}

#chapter-26 blockquote:first-of-type span{
	vertical-align: sub;
}

#chapter-26 table td{
	text-align: center;
}

#chapter-26 table td:nth-of-type(2){
	text-align: initial;
}

table{
	margin: 1em auto;
}

table td{
	padding: .5em;
}

table thead{
	font-variant: small-caps;
}

#chapter-32 table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
}

#chapter-40 table tr:last-child td{
	padding-top: 1em;
}

.proclamation header{
	font-variant: small-caps;
}

.proclamation p{
	text-indent: 0;
}

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}
