@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.bulletin,
.signature{
	font-variant: small-caps;
}

.proclamation footer,
.signature{
	text-align: right;
}

.symbol{
	font-variant: all-small-caps;
}

.newspaper,
.gossip p:first-child{
	text-align: center;
}

.newspaper p,
table + p{
	text-indent: 0;
}

.newspaper p + p{
	border-top: solid;
	margin-top: .25em;
	padding-top: .25em;
}

.newspaper .headline{
	font-size: 1.5em;
	text-transform: uppercase;
}

.newspaper .subheadline{
	font-size: 1.2em;
	font-variant: small-caps;
}

.misprint{
	vertical-align: sub;
}

table{
	margin: 1em auto;
}

table td{
	padding: .5em;
}

table thead{
	font-variant: small-caps;
}

.proclamation header p{
	text-indent: 0;
	text-align: center;
	font-variant: small-caps;
}

.proclamation footer{
	margin: 0;
}

.proclamation p{
	text-indent: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

abbr.era,
abbr.initialism{
	font-variant: all-small-caps;
}

abbr.name{
	white-space: nowrap;
}
