@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

b{
	font-weight: normal;
	font-variant: small-caps;
}

*[epub|type~="z3998:letter"],
*[epub|type~="z3998:poem"],
*[epub|type~="z3998:song"],
*[epub|type~="z3998:verse"],
*[epub|type~="subchapter"]{
	margin: 1em;
}

*[epub|type~="z3998:letter"] + p,
*[epub|type~="z3998:poem"] + p,
*[epub|type~="z3998:song"] + p,
*[epub|type~="z3998:verse"] + p,
*[epub|type~="subchapter"] + p{
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p,
*[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

*[epub|type~="z3998:poem"] p + p,
*[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

*[epub|type~="z3998:poem"] p span,
*[epub|type~="z3998:verse"] p span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

*[epub|type~="z3998:poem"] br,
*[epub|type~="z3998:song"] br,
*[epub|type~="z3998:verse"] br{
	display: none;
}

*[epub|type~="z3998:poem"] span.i1,
*[epub|type~="z3998:verse"] span.i1{
	text-indent: 0;
}

*[epub|type~="z3998:poem"] span.i2,
*[epub|type~="z3998:verse"] span.i2{
	text-indent: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.bulletin,
.signature{
	font-variant: small-caps;
}

.symbol{
	font-variant: all-small-caps;
}

.newspaper,
.gossip,
.proclamation{
	margin: 1em;
}

.gossip p:first-child{
	text-align: center;
}

.newspaper + p,
.newspaper p:first-child,
.gossip + p,
table + p,
.proclamation + p{
	text-indent: 0;
}

.newspaper p + p{
	border-top: solid;
	margin-top: .25em;
	padding-top: .25em;
}

.newspaper .headline{
	font-size: 1.5em;
	text-transform: uppercase;
}

.newspaper .subheadline{
	font-size: 1.2em;
	font-variant: small-caps;
}

.misprint{
	vertical-align: sub;
}

table{
	margin: 1em;
}

table thead{
	font-variant: small-caps;
}

.proclamation footer{
	text-align: left;
	margin: 0;
}

.proclamation footer p{
	text-indent: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

/* helpful during drafting */
*[epub|type~="z3998:roman"],
*[lang]:not(html),
abbr{
	background: #C0C0C0;
}
